name: CI/CD for a dockerized Flask App
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build and test:
    runs-on: ubuntu-latest
    steps:
    # Checkout the code
    - name: Checkout code
      uses: actions/checkout@v2
    # Set up Python
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    # Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    # Run tests
    - name: Run tests
      run: |
        pytest test_app.py
  build and push Docker image:
    runs-on: ubuntu-latest
    needs: build and test
    steps:
    # Checkout the code
    - name: Checkout code
      uses: actions/checkout@v2
    # Set up Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2  
    # Log in to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    # Build and push Docker image  
    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/flask_test-app:latest

    - name: Image digest
      run: echo ${{ steps.build-and-push.outputs.digest }}
      